<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>投稿完了</title>
</head>

<body>
    
<h1>アンケートの送信が完了しました</h1>
<p>ご協力ありがとうございました</p>

<form action="/" method="get">
    <input type="submit" value="入力に戻る">
</form>
<form action="/list" method="get">
    <input type="submit" value="リストを見る">
</form>


</body>
</html>